<p id="notice"><%= notice %></p>

<h1>Status Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Status scheduleable type</th>
      <th>Status scheduleable</th>
      <th>From</th>
      <th>To</th>
      <th>Status</th>
      <th>Status reason</th>
      <th>Comment</th>
      <th>Previous status</th>
      <th>Previous status reason</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Previous comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @status_schedules.each do |status_schedule| %>
      <tr>
        <td><%= status_schedule.status_scheduleable_type %></td>
        <td><%= status_schedule.status_scheduleable_id %></td>
        <td><%= status_schedule.from %></td>
        <td><%= status_schedule.to %></td>
        <td><%= status_schedule.status %></td>
        <td><%= status_schedule.status_reason %></td>
        <td><%= status_schedule.comment %></td>
        <td><%= status_schedule.previous_status %></td>
        <td><%= status_schedule.previous_status_reason %></td>
        <td><%= status_schedule.created_by %></td>
        <td><%= status_schedule.updated_by %></td>
        <td><%= status_schedule.previous_comment %></td>
        <td><%= link_to 'Show', status_schedule %></td>
        <td><%= link_to 'Edit', edit_status_schedule_path(status_schedule) %></td>
        <td><%= link_to 'Destroy', status_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status Schedule', new_status_schedule_path %>
