<p id="notice"><%= notice %></p>

<p>
  <strong>Respondent:</strong>
  <%= @survey_monkey_customer.respondent_id %>
</p>

<p>
  <strong>Collector:</strong>
  <%= @survey_monkey_customer.collector_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @survey_monkey_customer.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @survey_monkey_customer.end_date %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @survey_monkey_customer.ip_address %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @survey_monkey_customer.email_address %>
</p>

<p>
  <strong>First name:</strong>
  <%= @survey_monkey_customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @survey_monkey_customer.last_name %>
</p>

<p>
  <strong>Custom data:</strong>
  <%= @survey_monkey_customer.custom_data %>
</p>

<p>
  <strong>What is your email address:</strong>
  <%= @survey_monkey_customer.what_is_your_email_address %>
</p>

<p>
  <strong>What is your gender:</strong>
  <%= @survey_monkey_customer.what_is_your_gender %>
</p>

<p>
  <strong>What is your age:</strong>
  <%= @survey_monkey_customer.what_is_your_age %>
</p>

<p>
  <strong>What is customer suits you:</strong>
  <%= @survey_monkey_customer.what_is_customer_suits_you %>
</p>

<p>
  <strong>Which sector below represents:</strong>
  <%= @survey_monkey_customer.which_sector_below_represents %>
</p>

<p>
  <strong>Where did you register your worker:</strong>
  <%= @survey_monkey_customer.where_did_you_register_your_worker %>
</p>

<p>
  <strong>Process emp reg:</strong>
  <%= @survey_monkey_customer.process_emp_reg %>
</p>

<p>
  <strong>Process worker reg:</strong>
  <%= @survey_monkey_customer.process_worker_reg %>
</p>

<p>
  <strong>Panel clinic xray facilities:</strong>
  <%= @survey_monkey_customer.panel_clinic_xray_facilities %>
</p>

<p>
  <strong>Overall experience reg process:</strong>
  <%= @survey_monkey_customer.overall_experience_reg_process %>
</p>

<p>
  <strong>Other:</strong>
  <%= @survey_monkey_customer.other %>
</p>

<p>
  <strong>Location panel clinics:</strong>
  <%= @survey_monkey_customer.location_panel_clinics %>
</p>

<p>
  <strong>Fomema medical examincation are understandable:</strong>
  <%= @survey_monkey_customer.Fomema_medical_examincation_are_understandable %>
</p>

<p>
  <strong>Medical examinations are easy toobtain:</strong>
  <%= @survey_monkey_customer.medical_Examinations_are_easy_toobtain %>
</p>

<p>
  <strong>Overall rate experience medical examination:</strong>
  <%= @survey_monkey_customer.Overall_rate_experience_medical_examination %>
</p>

<p>
  <strong>Other medical:</strong>
  <%= @survey_monkey_customer.Other_medical %>
</p>

<p>
  <strong>Worker status found medical unsuitable:</strong>
  <%= @survey_monkey_customer.worker_status_found_medical_unsuitable %>
</p>

<p>
  <strong>Undergo fomema appeal process:</strong>
  <%= @survey_monkey_customer.undergo_fomema_appeal_process %>
</p>

<p>
  <strong>Tell experience appeal process:</strong>
  <%= @survey_monkey_customer.tell_experience_appeal_process %>
</p>

<p>
  <strong>Other appealprocess:</strong>
  <%= @survey_monkey_customer.other_appealprocess %>
</p>

<p>
  <strong>Recommend fomema friend collegue:</strong>
  <%= @survey_monkey_customer.recommend_fomema_friend_collegue %>
</p>

<p>
  <strong>Announcement business operator:</strong>
  <%= @survey_monkey_customer.announcement_business_operator %>
</p>

<p>
  <strong>Delivering health:</strong>
  <%= @survey_monkey_customer.delivering_health %>
</p>

<p>
  <strong>Aligned info moh moha:</strong>
  <%= @survey_monkey_customer.aligned_info_moh_MOHA %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @survey_monkey_customer.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @survey_monkey_customer.twitter %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @survey_monkey_customer.instagram %>
</p>

<p>
  <strong>Telegram:</strong>
  <%= @survey_monkey_customer.telegram %>
</p>

<p>
  <strong>Other social:</strong>
  <%= @survey_monkey_customer.other_social %>
</p>

<p>
  <strong>What tochange fomema socialmedia:</strong>
  <%= @survey_monkey_customer.what_tochange_fomema_socialmedia %>
</p>

<p>
  <strong>How do you reachus:</strong>
  <%= @survey_monkey_customer.how_do_you_reachus %>
</p>

<p>
  <strong>How long did you wait:</strong>
  <%= @survey_monkey_customer.how_long_did_you_wait %>
</p>

<p>
  <strong>Is this issue or problem:</strong>
  <%= @survey_monkey_customer.is_this_issue_or_problem %>
</p>

<p>
  <strong>How would you rate:</strong>
  <%= @survey_monkey_customer.how_would_you_rate %>
</p>

<p>
  <strong>Overall how satisfied are you:</strong>
  <%= @survey_monkey_customer.overall_how_satisfied_are_you %>
</p>

<%= link_to 'Edit', edit_survey_monkey_customer_path(@survey_monkey_customer) %> |
<%= link_to 'Back', survey_monkey_customers_path %>
