<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @radiologist.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @radiologist.name %>
</p>

<p>
  <strong>Xray facility name:</strong>
  <%= @radiologist.xray_facility_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @radiologist.string %>
</p>

<p>
  <strong>Title:</strong>
  <%= @radiologist.title_id %>
</p>

<p>
  <strong>Icno:</strong>
  <%= @radiologist.icno %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @radiologist.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @radiologist.address2 %>
</p>

<p>
  <strong>Address3:</strong>
  <%= @radiologist.address3 %>
</p>

<p>
  <strong>Address4:</strong>
  <%= @radiologist.address4 %>
</p>

<p>
  <strong>Country:</strong>
  <%= @radiologist.country_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @radiologist.state_id %>
</p>

<p>
  <strong>Town:</strong>
  <%= @radiologist.town_id %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @radiologist.postcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @radiologist.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @radiologist.fax %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @radiologist.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @radiologist.email %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @radiologist.qualification %>
</p>

<p>
  <strong>Is panel xray facility:</strong>
  <%= @radiologist.is_panel_xray_facility %>
</p>

<p>
  <strong>District health office:</strong>
  <%= @radiologist.district_health_office_id %>
</p>

<p>
  <strong>Is pcr:</strong>
  <%= @radiologist.is_pcr %>
</p>

<p>
  <strong>Apc year:</strong>
  <%= @radiologist.apc_year %>
</p>

<p>
  <strong>Apc number:</strong>
  <%= @radiologist.apc_number %>
</p>

<p>
  <strong>Nsr number:</strong>
  <%= @radiologist.nsr_number %>
</p>

<p>
  <strong>Renewal agreement date:</strong>
  <%= @radiologist.renewal_agreement_date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @radiologist.comment %>
</p>

<p>
  <strong>Status:</strong>
  <%= @radiologist.status %>
</p>

<p>
  <strong>Status reason:</strong>
  <%= @radiologist.status_reason %>
</p>

<p>
  <strong>Registration approved at:</strong>
  <%= @radiologist.registration_approved_at %>
</p>

<p>
  <strong>Activated at:</strong>
  <%= @radiologist.activated_at %>
</p>

<p>
  <strong>Approval status:</strong>
  <%= @radiologist.approval_status %>
</p>

<p>
  <strong>Approval remark:</strong>
  <%= @radiologist.approval_remark %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @radiologist.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @radiologist.updated_by %>
</p>

<p>
  <strong>Status comment:</strong>
  <%= @radiologist.status_comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @radiologist.user_id %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @radiologist.gender %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @radiologist.nationality_id %>
</p>

<p>
  <strong>Race:</strong>
  <%= @radiologist.race_id %>
</p>

<%= link_to 'Edit', edit_radiologist_path(@radiologist) %> |
<%= link_to 'Back', radiologists_path %>
