<div id="content">
  <div class="dashboard-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">Service Provider Split <i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
            <div class="card-body p-1">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-3 mb-2">
                  <div class="custom-card">
                    <div class="card docotrcard">
                      <div class="card-header"> Doctor</div>
                      <div class="card-body p-0">
                        <ul class="card-ul">
                          <li class="card-li dropdown-toggle" type="button" id="div_doctor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span> Active</span> <span style="font-weight: bold;"><%= @doctorsactive %></span>
                            <div class="listcard-ul dropdown-menu" aria-labelledby="div_doctor">
                              <div style="background: #0032AB; color: #DDE7FF;width: 100%; float: left;">
                                <span style="width: 50%;float: left;padding: 0px 7px;">State  </span>
                                <span style="width: 50%;float: left;text-align: center;padding: 0px 10px 0px 37px;">Doctor</span>
                              </div>

                              <ul>

                                <% @doctorstates.each do |key, value| %>
                                  <li><span><%= key %> </span> <span> <%= value %></span></li>
                                <% end %>
                              </ul>
                            </div>
                          </li>
                          <li><span> New</span> <span><%= @doctornew %></span></li>
                          <li><span> Withdrawal</span> <span><%= @doctorwithdrawl %></span></li>
                          <li><span> Demised</span> <span><%= @doctordemised %></span></li>
                          <li><span> Non-compliance</span> <span><%= @doctornoncomp %></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-12 col-sm-6 col-md-3 mb-2">
                  <div class="custom-card ">
                    <div class="card laboratorycard">
                      <div class="card-header">Laboratory</div>
                      <div class="card-body  p-0">
                        <ul class="card-ul">
                          <li class="card-li dropdown-toggle" type="button" id="div_doctor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span> Active</span> <span style="font-weight: bold;"><%= @laboratoriesactive %></span>
                            <div class="listcard-ul dropdown-menu" aria-labelledby="div_doctor">
                              <div style="background: #0032AB; color: #DDE7FF;width: 100%; float: left;">
                                <span style="width: 50%;float: left;padding: 0px 7px;">State  </span>
                                <span style="width: 50%;float: left;text-align: center;padding: 0px 10px 0px 37px;">Doctor</span>
                              </div>
                              <ul>
                                <% @laboratoriesstates.each do |key, value| %>
                                  <li><span><%= key %> </span> <span> <%= value %></span></li>
                                <% end %>


                              </ul>
                            </div>
                          </li>
                          <li><span> New</span> <span><%= @laboratoriesnew %></span>
                          </li>
                          <li><span> Withdrawal</span> <span><%= @laboratorywithdrawl %></span></li>
                          <li><span> Demised</span> <span><%= @laboratorydemised %></span></li>
                          <li><span> Non-compliance</span> <span><%= @laboratorynoncomp %></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 mb-2">
                  <div class="custom-card">
                    <div class="card x-raycard">
                      <div class="card-header"> X-ray Facility</div>
                      <div class="card-body  p-0">
                        <ul class="card-ul">
                          <li class="card-li dropdown-toggle" type="button" id="div_doctor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span> Active</span> <span style="font-weight: bold;"><%= @xrayfacilityactive %></span>
                            <div class="listcard-ul dropdown-menu" aria-labelledby="div_doctor">
                              <div style="background: #0032AB; color: #DDE7FF;width: 100%; float: left;">
                                <span style="width: 50%;float: left;padding: 0px 7px;">State  </span>
                                <span style="width: 50%;float: left;text-align: center;padding: 0px 10px 0px 37px;">Doctor</span>
                              </div>
                              <ul>
                                <% @xrayfacilitiesstates.each do |key, value| %>
                                  <li><span><%= key %> </span> <span> <%= value %></span></li>
                                <% end %>
                              </ul>
                            </div>
                          </li>
                          <li><span> New</span> <span><%= @xrayfacilitynew %></span>
                          </li>
                          <li><span> Withdrawal</span> <span><%= @xrayfacilitywithdrawl %></span></li>
                          <li><span> Demised</span> <span><%= @xrayfacilitydemised %></span></li>
                          <li><span> Non-compliance</span> <span><%= @xrayfacilitynoncomp %></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 mb-2">
                  <div class="custom-card">
                    <div class="card radiologistcard">
                      <div class="card-header">Radiologist</div>
                      <div class="card-body  p-0">
                        <ul class="card-ul">
                          <li class="card-li dropdown-toggle" type="button" id="div_doctor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span> Active</span> <span style="font-weight: bold;"><%= @radiologistactive %></span>
                            <div class="listcard-ul dropdown-menu" aria-labelledby="div_doctor">
                              <div style="background: #0032AB; color: #DDE7FF;width: 100%; float: left;">
                                <span style="width: 50%;float: left;padding: 0px 7px;">State  </span>
                                <span style="width: 50%;float: left;text-align: center;padding: 0px 10px 0px 37px;">Doctor</span>
                              </div>
                              <ul>
                                <% @radiologiststates.each do |key, value| %>
                                  <li><span><%= key %> </span> <span> <%= value %></span></li>
                                <% end %>
                              </ul>
                            </div>
                          </li>
                          <li><span> New</span> <span><%= @radiologistnew %></span>
                          </li>
                          <li><span> Withdrawal</span> <span><%= @radiologistwithdrawl %></span></li>
                          <li><span> Demised</span> <span><%= @radiologistdemised %></span></li>
                          <li><span> Non-compliance</span> <span><%= @radiologistnoncomp %></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="row mt-2">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card">
            <div class="card-header">Quote Usage by Doctor <i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
            <div class="card-body p-1">
              <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
              <script src="https://cdn.anychart.com/releases/v8/js/anychart-cartesian-3d.min.js"></script>
              <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
              <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
              <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
              <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">

              <div id="container" style="width: 100%; height: 218px;"></div>

            </div>
          </div>


          <script>
              var doctorQuotaUsageZero = <%= @doctorquotausagezero %>;
              var doctorQuotaUsage1to100 = <%= @doctorquotausage1to100 %>;
              var doctorQuotaUsage101to200 = <%=@doctorquotausage101to200%>
              var doctorQuotaUsage201to300 = <%=@doctorquotausage201to300%>
              var doctorQuotaUsage301to400 = <%=@doctorquotausage301to400%>
              var doctorQuotaUsage401to500 = <%=@doctorquotausage401to500%>
              var doctorQuotaUsage501to600 = <%=@doctorquotausage501to600%>
              var doctorQuotaUsage601to700 = <%=@doctorquotausage601to700%>
              var doctorQuotaUsage701to800 = <%=@doctorquotausage701to800%>
              anychart.onDocumentReady(function () {

                  var chart = anychart.column3d();


                  chart.animation(true);


                  if (doctorQuotaUsageZero > 0 || doctorQuotaUsage1to100 > 0 || doctorQuotaUsage101to200 > 0 || doctorQuotaUsage201to300 > 0 || doctorQuotaUsage301to400 > 0 || doctorQuotaUsage401to500 > 0 || doctorQuotaUsage501to600 > 0 || doctorQuotaUsage601to700 > 0 || doctorQuotaUsage701to800 > 0)
                  {

                      chart.column([
                          ['< 1 ', doctorQuotaUsageZero],
                          ['1 - 100', doctorQuotaUsage1to100],
                          ['101 - 200', doctorQuotaUsage101to200],
                          ['201 - 300', doctorQuotaUsage201to300],
                          ['301 - 400', doctorQuotaUsage301to400],
                          ['401 - 500', doctorQuotaUsage401to500],
                          ['501 - 600', doctorQuotaUsage501to600],
                          ['601 - 700', doctorQuotaUsage601to700],
                          ['701 - 800', doctorQuotaUsage701to800]
                      ]);

                      chart
                          .tooltip()
                          .position('center-top')
                          .anchor('center-bottom')
                          .offsetX(0)
                          .offsetY(5)
                          .format('{%Value}');

                      chart.yScale().minimum(0);

                      chart.yAxis().labels().format('{%Value}{groupsSeparator: }');

                      chart.tooltip().positionMode('point');
                      chart.interactivity().hoverMode('by-x');

                      chart.xAxis().title('Quote Use');
                      chart.yAxis().title('#of Doctor');


                      chart.container('container');


                      chart.draw();
                  }
              else
                  {
                      document.getElementById('container').innerHTML = '<div>No data to display</div>';
                  }
              });

          </script>

        </div>
        <div class="col-12 col-sm-6 col-md-8">
          <div class="card">
            <div class="card-header">Service Provider’s Performance <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
            <div class="card-body p-1 card-height">
              <div class="row">
                <div class="col-6 col-sm-12 col-md-4">
                  <div class="custompie-cardone" id="divcertdoctor">
                    <div class="card">
                      <div class="card-header">Certification by
                        Doctor<i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
                      <div class="card-body p-0">
                        <div id="donutchart1"></div>
                      </div>
                      <script type="text/javascript">
                          var certifyDoctorPerYesTotal = <%= @ceritifydoctorperyestotal %>;

                          google.charts.load("current", { packages: ["corechart"] });
                          google.charts.setOnLoadCallback(drawChart1);

                          function drawChart1() {
                              if (certifyDoctorPerYesTotal > 0) {

                                  var data = google.visualization.arrayToDataTable([
                                      ['Task', 'Hours per Day'],
                                      [' ', certifyDoctorPerYesTotal],
                                      ['', 0]
                                  ]);

                                  var options = {
                                      title: 'Doctor Transmit certification within TAT',
                                      legend: 'none',
                                      colors: ['#0e7dc1', '#99bed6'],
                                      pieHole: 0.4,
                                  };

                                  var chart = new google.visualization.PieChart(document.getElementById('donutchart1'));
                                  chart.draw(data, options);
                              } else {
                                  document.getElementById('donutchart1').innerHTML = '<div style="display: flex; justify-content: center; align-items: center; height: 100%;">No data to display</div>';
                              }
                          }
                      </script>

                    </div>
                  </div>
                </div>

                <div class="col-6 col-sm-12 col-md-4" id="divdoctortransm">
                  <div class="custompie-cardone">
                    <div class="card">
                      <div class="card-header">Accuracy Result Transmission By Doctor
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>

                      </div>
                      <div class="card-body p-0">
                        <div id="donutchart5"></div>
                        <script type="text/javascript">
                            var doctorTransmitAccuratelyData = [
                                7,
                                2
                            ];

                            google.charts.load("current", { packages: ["corechart"] });
                            google.charts.setOnLoadCallback(drawChart5);

                            function drawChart5() {
                                // Check if there is data available
                                if (doctorTransmitAccuratelyData.some(function(value) { return value > 0; })) {
                                    // Data is available, create the chart
                                    var data = google.visualization.arrayToDataTable([
                                        ['Task', 'Hours per Day'],
                                        [' ', doctorTransmitAccuratelyData[0]],
                                        ['', doctorTransmitAccuratelyData[1]]
                                    ]);

                                    var options = {
                                        title: 'Doctor Transmit Accurately',
                                        pieHole: 0.4,
                                        legend: 'none',
                                        colors: ['#0e7dc1', '#99bed6'],
                                    };

                                    var chart = new google.visualization.PieChart(document.getElementById('donutchart5'));
                                    chart.draw(data, options);
                                } else {
                                    document.getElementById('donutchart5').innerHTML = '<div style="display: flex; justify-content: center; align-items: center; height: 100%;">No data to display</div>';
                                }
                            }
                        </script>

                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-6 col-sm-12 col-md-4" id="divlabtrans">
                  <div class="custompie-cardone">
                    <div class="card">
                      <div class="card-header">Laboratory Result Transmission
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
                      <div class="card-body p-0">
                        <script type="text/javascript">
                            var laboratoryDonutWithin48 = <%= @laboratorydonutwithin48 %>;
                            var laboratoryDonutBeyond48 = <%= @laboratorydonutbeyond48 %>;

                            google.charts.load("current", { packages: ["corechart"] });
                            google.charts.setOnLoadCallback(drawChart2);

                            function drawChart2() {
                                if (laboratoryDonutWithin48 > 0 || laboratoryDonutBeyond48 > 0) {
                                    var data = google.visualization.arrayToDataTable([
                                        ['Task', 'Hours per Day'],
                                        ['', laboratoryDonutWithin48],
                                        ['', laboratoryDonutBeyond48]
                                    ]);

                                    var options = {
                                        title: 'Lab Submit Results Within TAT',
                                        legend: 'none',
                                        colors: ['#0e7dc1', '#99bed6'],
                                        pieHole: 0.4,
                                    };

                                    var chart = new google.visualization.PieChart(document.getElementById('donutchart2'));
                                    chart.draw(data, options);
                                } else {
                                    document.getElementById('donutchart2').innerHTML = '<div style="display: flex; justify-content: center; align-items: center; height: 100%;">No data to display</div>';
                                }
                            }
                        </script>

                        <div id="donutchart2"></div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-6 col-sm-12 col-md-4" id="divxrayquality">
                  <div class="custompie-cardone">
                    <div class="card">
                      <div class="card-header">X-Ray Quality Compliance
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>

                      </div>
                      <div class="card-body p-0">
                        <div id="donutchart"></div>
                        <script type="text/javascript">
                            var xrayQualityComplianceData = [
                                7,
                                2
                            ];

                            google.charts.load("current", { packages: ["corechart"] });
                            google.charts.setOnLoadCallback(drawChart5);

                            function drawChart5() {
                                if (xrayQualityComplianceData.some(function(value) { return value > 0; })) {
                                    var data = google.visualization.arrayToDataTable([
                                        ['Task', 'Hours per Day'],
                                        [' ', xrayQualityComplianceData[0]],
                                        ['', xrayQualityComplianceData[1]]
                                    ]);

                                    var options = {
                                        title: 'X-ray Facility Achieve Quality Compliance',
                                        pieHole: 0.4,
                                        legend: 'none',
                                        colors: ['#0e7dc1', '#99bed6'],

                                    };

                                    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                                    chart.draw(data, options);
                                } else {
                                    document.getElementById('donutchart').innerHTML = '<div style="display: flex; justify-content: center; align-items: center; height: 100%;">No data to display</div>';
                                }
                            }
                        </script>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-6 col-sm-12 col-md-4" id="divxraytrans">
                  <div class="custompie-cardone">
                    <div class="card">
                      <div class="card-header pr-0"> X-rayTransmission
                      </div>
                      <div class="card-body p-0">
                        <script type="text/javascript">
                            var xrayTransmissionData = [
                                10,
                                10
                            ];

                            google.charts.load("current", { packages: ["corechart"] });
                            google.charts.setOnLoadCallback(drawChart5);

                            function drawChart5() {
                                if (xrayTransmissionData.some(function(value) { return value > 0; })) {
                                    var data = google.visualization.arrayToDataTable([
                                        ['Task', 'Hours per Day'],
                                        [' ', xrayTransmissionData[0]],
                                        ['', xrayTransmissionData[1]]
                                    ]);

                                    var options = {
                                        title: 'X-Ray Submit Results Within TAT',
                                        legend: 'none',

                                        colors: ['#0e7dc1', '#99bed6'],
                                        pieHole: 0.4,
                                    };

                                    var chart = new google.visualization.PieChart(document.getElementById('div_self'));
                                    chart.draw(data, options);
                                } else {
                                    document.getElementById('div_self').innerHTML = '<div style="display: flex; justify-content: center; align-items: center; height: 100%;">No data to display</div>';
                                }
                            }
                        </script>
                        <div class="w-100" style="float: left;height: 250px;">
                          <div id="div_self"></div>
                        </div>
                        <div class="progressbar_wrap">
                          <div class="progressbar_div">
                            <label> Self Reporting</label>
                            <div class="newprogress w-100 float-left">
                              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                            </div>
                          </div>
                          <div class="progressbar_div">
                            <label> Radiologist Reporting</label>
                            <div class="newprogress w-100 float-left">
                              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<style>
    .progressbar_wrap {
        width: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        margin: 6px;
        padding: 14px 14px 2px 14px;
    }

    .progressbar_div {
        margin-bottom: 5px;
    }

    .progressbar_div > label {
        margin: 0px;
        color: #626262;
    }

    .progressbar_div, .progressbar_div > label {
        font-size: 11px;
        float: left;
        width: 100%;
    }

    .newprogress {
        background-color: #ececec;
        border-radius: 10px;
    }

    .newprogress > .progress-bar {
        border-radius: 10px 0px 0px 10px;
    }

    .svg-font > tspan, .svg-font {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        cursor: pointer;
    }
</style>